{{!-- Dashboard --}}

<div class="row">
    <div class="m-2 user-name">
        <h2 class="header-text">Welcome, {{name}}!</h2>
    </div>
</div>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto text-left mt-5">
                {{#if posts.length}}
                    {{#each posts as |post|}}
                        {{> dashboardPost post}}
                        <br>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

    {{#if (my_page user.id userId)}}
    <div id="create" class="container">
        <div class="row text-center">
            <a href="/create"><button class="btn btn-dark mt-3">New Post</button></a>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="row justify-content-center">
            <p>Sorry. No posts yet!</p>
        </div>
    </div>
    {{/if}}
</div>

<script src="/js/dashboard.js"></script>